<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Input</title>
</head>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .formDiv {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .submitBtn {
        padding: .5rem 4rem;
        margin: 0 3.9rem;
        width: 40%;
        position: absolute;
        height: 6vh;
        font-size: 1.2rem;
        text-transform: uppercase;
        border: none;
        outline: none;
        border-radius: 4px;
        box-shadow: 1px 2px 6px 0 #5656563b;
        bottom: 5rem;
        background: #9370d8;
        color: #fff;
    }

    .inputs {
        padding: 1.2rem .5rem;
        width: 40%;
        font-size: 1rem;
        background: #f3f3f3;
        margin: .3rem 0;
        border: none;
        outline: none;
        border-radius: 3px;
    }

    .inputs:focus {
        border: 2px solid #bbb;
        background: #fff;
    }

    .backBtn {
        position: absolute;
        top: 1rem;
        background: none;
        border: none;
        outline: none;
        left: 2rem;
        font-size: 1.2rem;
        text-decoration: none;
        color: #000;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        cursor: pointer;
    }

</style>

<body>
    <a class="backBtn" href="/">⬅ Go Back</a>
    <form class="formDiv" action="/postData" method="post">
            <input class="inputs" placeholder="Name" name="name" type="text"></input>
            <input class="inputs" placeholder="Email" name="email" type="email"></input>

            <input class="inputs" placeholder="Contact Number" name="contactNum" type="tel"></input>

            <input class="inputs" placeholder="Rank" name="rank" type="text"></input>

            <textarea class="inputs" placeholder="Address" name="address" type="text"></textarea>

            <select class="inputs" name="role">
                <option>Volunteer</option>
                <option>Member</option>
            </select>
        <button class="submitBtn" type="submit">Submit</button>
    </form>
</body>

</html>