.transparentBox {
    position: absolute;
    background: transparent;
    height: 20rem;
    width: 35rem;
    right: -4rem;
    border-width: 5px;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            #9370d8,
            rgba(0, 0, 0, 0)) 1 100%;
    backdrop-filter: blur(5px);
    border-image-slice: 150;
}